header {
    color: #c6ffe1;
    font-family: 'Helvetica';
    text-align: center;
    font-size: 45pt;
}

h2 {
    color: #c6ffe1;
    font-family: 'Helvetica';
    font-weight: lighter;
    text-align: center;

}

figcaption {
    color: #ffffff;
    font-family: 'Helvetica';
    font-weight:lighter;
    text-align: center;
    text-shadow: none;

}

a {
    color: #c6ffe1;
    font-family: 'Helvetica';
    text-decoration: underline;
    font-weight: lighter;
}

h3 {
    color:#c6ffe1;
    font-family: 'Helvetica';
    font-weight:500;
    text-align: left;
    
}

p {
    color: #ffffff;
    font-family: 'Helvetica';
}

li {
    color: #ffffff;
    text-indent: 5px;
    font-family: 'Helvetica'
}

ul {
    list-style-type: square;
}

body {
    background-color: #c8c8c8;
}



footer {
    color:#000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    text-align: center;
    font-weight: 400;
    font-size: 40pt;
}